@import '../utils/mixin';
@import '../utils/variable';

$color-heading: $color-9e9e9e;
$height-field: $heigha-field;
$color-field: $color-9e9e9e;
$size-heading: $size-title;

.search-categories {
  display: flex;
  flex-direction: column;
  &__heading {
    @include reset;
    color: $color-heading;
    font-size: $size-heading;
    box-sizing: border-box;
  }
  &__field {
    @include reset;
    height: $height-field;
    border: solid $color-field 1px;
    box-sizing: border-box;
    margin-top: 2px;

    cursor: pointer;
  }
}
